<%- include('partials/header') -%>
<% if(user){%>
	<!-- <div class="container username">
	 <p>Hello, <%= user.userName %></p>
   </div> -->
<% }%>
   <section class="title-section">
     <h1>Your favorite stories</h1>
   </section>
    <!--User info-->
   <!--/User info-->
 <!--Library content-->
   <section class="container library-content">

 <!--Story snippet-->
     <section class="container stories-section fav-section">
      <% if(stories.length != 0){%>
       <ul class="stories-snippets">
         <% for(var i=0; i<stories.length; i++) {%>
           <li class="single-story single-favorite-story">
             <!-- <span><%= stories[i].user.userName%></span> -->
             <a href="/story/<%= stories[i]._id%>">
                 <div class="story-details">
                   <h3><%= stories[i].title%></h3>
                   <!--Date-->
                   <span class="date">
                     <%= stories[i].createdAt.getDate()%>.<%= stories[i].createdAt.getMonth()+1%>.<%= stories[i].createdAt.getFullYear()%>
                   </span>
                   <!--/Date-->
                   <!--Displaying the region and managing the comma-->
                     <span class="region-details">
                       <%= stories[i].country%><%if(stories[i].country && stories[i].continent ){ %>,<%}%>
                       <%= stories[i].continent%>
                     </span>
                   <!-- /Displaying the region and managing the comma-->
                 </div>
                 <img class="img-fluid" src="<%= stories[i].image%>">
                 <div class="flex-row reaction-display">
                   <span>
                     <i class="fa-solid fa-book-open" style="color: #857a7a;"> <%= stories[i].readBy%></i>
                   </span>
                   <span>
                     <i class="fa-solid fa-thumbs-up" style="color: #857a7a;"> <%= stories[i].likes%></i>
                   </span>
                 </div>
                 <div class="story-text-snippet">
                   <% if(stories[i].textContent.split(" ").length > 30){%>
                     <p><%= stories[i].textContent.split(" ").slice(0,30).join(" ")%>...</p>
                      <% } else { %> 
                     <p><%= stories[i].textContent%></p>
                     <% } %>
                 </div>
                 
             
             </a>
           </li>
         <% } %>
         </ul>
         <% } else{%>
          <p id="none-saved-info">You have no stories saved</p>
          <i class="none-saved fa-regular fa-star fa-2xl" style="color: #b7b2b2;"></i>
          <% }%>
     </section>
 <!-- /Story snippet-->
   </section>
 <!-- /Library content-->
  
 
<%- include('partials/footer') -%>