<%- include('partials/header') -%>
 <!--User info-->
<% if(user){%>
 <!-- <div class="container username">
  <p>Hello, <%= user.userName %></p>
</div> -->
<% }%>
<!--/User info-->
  <section class="title-section">
    <h1>Stories</h1>
  </section>
<!--Library content-->
  <section class="container library-content">
<!--Filter/sort-->
	<% if(stories.length != 0){%>
    <section class="filter-sort">
		<div class="mobile-filter-sort-buttons">
			<button id="show-filter" class="highlight-button">Filter</button>
			<button id="show-sort" class="highlight-button">Sort</button>
		</div>
<!--Filter-->
		<div id="filter-section" class="filter">
			<div class="flex-row filter-sort-mobile-title-cancel">
				<h3 class="filter-subtitle">Filter</h3>
				<i class="fa-solid fa-xmark fa-2xl hide-filter-sort" style="color: #857a7a;"></i>
			</div>
			<form action="/library/filter"
				method="GET">
			<div class="flex-col">
				<span id="filter-country" class="chosen-btn">Country</span>
				<select id="countries-options" name="country" class="form-control">
				<% for (let i = -1; i < countries.length; i++) { %>
					<% if(i == -1){ %>
					<option value="">No selection</option>
					<% } else {  %>
					<option value="<%= countries[i] %>"><%= countries[i] %></option>
				<% }} %>
				</select>
			</div>
			<div class="flex-col">
				<span id="filter-continent">Continent</span>
				<select id="continents-options" name="continent" class="form-control hidden">
				<% for (let i = -1; i < continents.length; i++) { %>
					<% if(i == -1){ %>
					<option value="">No selection</option>
					<% } else {  %>
					<option value="<%= continents[i] %>"><%= continents[i] %></option>
				<% }} %>
				</select>
			</div>
			<button class="highlight-button filter-btn" type="submit" >Filter</button>
			</form>
		</div>  
<!--/Filter-->
<!--Sort-->
		<div id="sort-section" class="sort-div">
			<div class="flex-row filter-sort-mobile-title-cancel">
				<h3 class="sort-subtitle">Sort by</h3>
				<i  class="fa-solid fa-xmark fa-2xl hide-filter-sort" style="color: #857a7a;"></i>
			</div>
			
			<form action="/library/sortByMostLiked" 
				method="GET">
				<button class="sort-btn" type="submit" value="mostLiked" name="likes">Most liked</button>
			</form>
			<form  action="/library/sortByPopularity" 
				method="GET">
				<button class="sort-btn" type="submit"  value="popularityHigh" name="popularity">Popularity</button>
			</form>
			<form action="/library/undiscoveredTreasures" 
				method="GET">
				<button class="sort-btn" type="submit"  value="popularityLow" name="popularity">Undiscovered Treasures</button>
			</form>
		</div>
<!--/Sort-->
<!--Remove all filters and sorts-->
		<div class="remove-options-button">
			<a href="/library">
				<button class="remove-all-btn" type="submit" >Remove filter / sort</button>
			</a>
		</div>
<!--/Remove all filters and sorts-->
    </section>
<!-- /Filter/sort-->
<!--Story snippet-->
    <section class="container stories-section">
      <ul class="stories-snippets">
        <% for(var i=0; i<stories.length; i++) {%>
          <li class="single-story">
            <!-- <span><%= stories[i].user.userName%></span> -->
            <a class="viewed" data-id="<%= stories[i]._id%>" href="/story/<%= stories[i]._id%>">
                <div class="story-details">
                  <h3><%= stories[i].title%></h3>
                  <!--Date-->
                  <span class="date">
                    <%= stories[i].createdAt.getDate()%>.<%= stories[i].createdAt.getMonth()+1%>.<%= stories[i].createdAt.getFullYear()%>
                  </span>
                  <!--/Date-->
                  <!--Displaying the region and managing the comma-->
                    <span class="region-details">
                      <%= stories[i].country%><%if(stories[i].country && stories[i].continent ){ %>,<%}%>
                      <%= stories[i].continent%>
                    </span>
                  <!-- /Displaying the region and managing the comma-->
                </div>
                <img class="img-fluid" src="<%= stories[i].image%>">
                <div class="flex-row reaction-display">
                  <span>
                    <i class="fa-solid fa-book-open" style="color: #857a7a;"> <span class="numbers"><%= stories[i].readBy%></span></i>
                  </span>
                  <span>
                    <i class="fa-solid fa-thumbs-up" style="color: #857a7a;"> <span class="numbers"><%= stories[i].likes%></span></i>
                  </span>
                </div>
                <div class="story-text-snippet">
                  <% if(stories[i].textContent.split(" ").length > 30){%>
                    <p><%= stories[i].textContent.split(" ").slice(0,30).join(" ")%>...</p>
                     <% } else { %> 
                    <p><%= stories[i].textContent%></p>
                    <% } %>
                </div>
                
            
            </a>
          </li>
        <% } %>
        </ul>
    </section>
<!-- /Story snippet-->
<% } else {%>
	<div class="no-stories-container">
		<p id="none-saved-info">There are no stories available</p>
		<i class="none-saved fa-regular fa-star fa-2xl" style="color: #b7b2b2;"></i>
	</div>
		
<% } %>
  </section>
<!-- /Library content-->
 

  
<%- include('partials/footer') -%>