<%- include('partials/header') -%>

<!--User info-->
<div class="container">
  	<p class="username">Hi, <%= user.userName %></p>
</div>
<!--/User info-->
<section class="profile-section">
	<div class="container">

		<!--Add story / if there is no story-->
		<% if(!story) { %>
			<h2 class="profile-subtitle">Add your story</h2>
			<!--Error message for empty required fields-->
			<% if(errorMessage){ %>
				<span class="error-message"><%= errorMessage%></span>
			<% } %>
			<!-- /Error message for empty required fields-->
			<form class="create-edit-story" action="/story/createStory" enctype="multipart/form-data" method="POST" id="add-story">
				<div>
					<label for="title" class="form-label">
						Title *
					</label>
					<input type="text" class="form-control" id="title" name="title">
				</div>
				<div>
					<label for="imgUpload" class="form-label">Image *</label>
					<input type="file" class="form-control" id="imageUpload" name="file">
				</div>
				<div class="insert-text">
					<label for="textContent" class="form-label">Story *</label>
					<textarea oninput="auto_grow(this)" class="form-control" id="textContent" name="textContent"></textarea>
				</div>
				<p>You can omit the information below, but it helps other people filter the stories they would like to discover. It is always very interesting to find out more about different cultures.</p>
				<div>
					<label for="country" class="form-label">Country</label>
					<select name="country" id="country" class="form-control">
					<option id="countryChoice" ></option>
					</select>  
				</div>
				<div>
					<label for="continent" class="form-label">Continent</label>
					<select name="continent" id="continent" class="form-control">
					<option id="continentChoice"></option>
					</select>
				</div>
				<span class="asterix">* Required fields</span>
				<button type="submit" class="highlight-button" value="Upload">Post</button>
			</form>
		<% } %>
		<!-- /Add story / if there is no story-->

		<!--edit story / if there is a story-->
		<% if(editStory){ %>

			<!--update the image-->
			<h2 class="profile-subtitle">Update the image</h2>
			<% if(imgError){ %>
				<span class="img-error-text"><%= imgError%></span>
			<% } %>
			<div class="edit-image">
				<form class="create-edit-story" action="/updateImage/<%= story._id %>?_method=PUT " enctype="multipart/form-data" method="POST" class="" id="edit-image-form">
					<div class="mb-3">
						<label for="imgUpload" class="form-label">Image</label>
						<input type="file" class="form-control" id="imageUpload" name="file">
					</div>
					<button type="submit" class="highlight-button" value="Upload">Change image</button> 
				</form>
				<img class="img-fluid" src="<%= story.image%>">
			</div>
			
			
			<!-- /update the image-->
			<!--edit the story text-->
			<h2 class="profile-subtitle">Edit your story</h2>
			<form class="create-edit-story" action="/updateStory/<%= story._id %>?_method=PUT " method="POST">
				<div>
					<label for="newTitle" class="form-label">Title *</label>
					<input type="text" class="form-control" id="title" name="newTitle" value="<%= story.title%>">
				</div>
				<div class="insert-text">
					<label for="newTextContent" class="form-label">Story *</label>
					<textarea oninput="auto_grow(this)" class="form-control edit-textarea" id="textContent" name="newTextContent" wrap ><%= story.textContent%></textarea>
				</div>
				<div>
					<label for="newCountry" class="form-label">Country</label>
					<select name="newCountry" id="country" class="form-control"></select>
					<option id="countryChoice" value="<%= story.country%>"></option>
				</div>
				<div>
					<label for="newContinent" class="form-label">Continent</label>
					<select name="newContinent" id="continent" class="form-control"></select>
					<option id="continentChoice" value="<%= story.continent%>"></option>
				</div>
				<span class="asterix">* Required fields</span>
				<% if(errorMessage){ %>
					<span class="error-message"><%= errorMessage%></span>
				<% } %>
				<button type="submit" class="highlight-button" value="Upload">Save changes</button> 
			</form>
			<!-- /edit the story text-->
		<% } %>
		<!--edit story / if there is a story-->
	
		<!--Static profile (condition: there is a story and no editing)-->
		<% if(!editStory && story){ %>
			<div class="subtitle-and-edit">
				<h2 class="profile-subtitle ">
					Your story
				</h2>
				<div class="user-actions-buttons">
					<a href="/editStory/<%= story._id%>">
						<i class="fa-solid fa-pen-to-square fa-2xl" style="color: #698ece;"></i>
					</a>
					<button class="show-delete-popup fa-solid fa-trash fa-2xl" style="color: #b45050;" type="submit"></button>
				</div>
			</div>
			
			<div class="main-profile-story">
				<h3><%= story.title%></h3>
				<div class="story-details center">
				<!--Date-->
				<span class="date">
				<%= story.createdAt.getDate()%>.<%= story.createdAt.getMonth()+1%>.<%= story.createdAt.getFullYear()%>
				</span>
				<!--/Date-->
				<!--Displaying the region and managing the comma-->
				<span class="region-details">
					<%= story.country%><%if(story.country && story.continent ){ %>,<%}%>
					<%= story.continent%>
				</span>
				<!-- /Displaying the region and managing the comma-->
				</div>
				<img class="img-fluid" src="<%= story.image%>">
				<div class="flex-row reaction-display">
					<i class="fa-solid fa-book-open fa-lg" style="color: #857a7a;"> <%= story.readBy%></i>
					<i class="fa-solid fa-thumbs-up fa-lg" style="color: #857a7a;"> <%= story.likes%></i>
				</div>
				<p class="story-text"><%= story.textContent%></p>
			</div>
			
		<% } %> 
	<!-- /Static profile (condition: there is a story and no editing)-->

		</div>

</section>
<% if(!editStory && story){ %>
<section class="popup-container" id="delete-popup">
	<div class="popup">
		<p>Are you sure you want to delete the story?</p>
		<div class="flex-row">
			<button class=" delete-popup-button cancel-button">No</button>
			<form
			action="/story/deleteStory/<%= story._id %>?_method=DELETE"
			method="POST"
			>
				<button class="delete-popup-button highlight-button">Yes</button>
			</form>
			
		</div>
	</div>
</section>
<% }%>


<%- include('partials/footer') -%>