<%- include('partials/header') -%>
<div class="container">
   <!--User info-->
   <div>
    <p><strong>User Name</strong>: <%= user.userName %></p>
    <a href="/logout" class="col-3 btn btn-primary">Logout</a>
  </div>
  <!--/User info-->
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <span><%= story.user.userName%></span>
      <h2><%= story.title %></h2>
      <span><%= story.country%>, <%= story.continent%></span>
      <img class="img-fluid" src="<%= story.image%>" />
      <div class="row justify-content-between">
        
         <!--Like story-->
         <%if(story.user.toString() !== user.id){ %>
          <form
            class="col-1"
            action="/story/likeStory/<%= story.id %>?_method=PUT"
            method="POST"
          >
            <button class="btn btn-primary fa fa-heart" type="submit"></button>
          </form>
          <%}%>
          
          <!-- /Like story-->
          
          <!--Favorite story-->
          <%if(story.user.toString() !== user.id){ %>
            <form
              class="col-1"
              action="/story/favoriteStory/<%= story.id %>"
              method="POST"
            >
              <button class="btn btn-primary fa fa-star" type="submit"></button>
            </form>
            <%}%>
          <!-- /Favorite story-->

          <!--Num of likes story-->
          <h3 class="col-4">Likes: <%= story.likes %></h3>
          <!-- /Num of likes story-->
  
          <!--Delete story-->
          <%if(story.user == user.id){ %>
          <form
            action="/story/deleteStory/<%= story.id %>?_method=DELETE"
            method="POST"
            class="col-1"
          >
            <button class="btn btn-primary fa fa-trash" type="submit"></button>
          </form>
          <%}%>
          <!--/Delete story-->




      </div>
    </div>
    <div class="col-3 mt-5">
      <p><%= story.textContent %></p>
    </div>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/library">Read other people's story</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
