<%- include('partials/header') -%>
<section class="story-page-section">
  	<div class="container ">

		<!--User info-->
		<!-- <% if(user){%>
			<div class="username">
				<p>Hello, <%= user.userName %></p>
			</div>
		<% }%> -->
		<!--/User info-->

		<!--The story-->
		<div class="story-page-content">
			<h1><%= story.title%></h1>
			<%if( user && story.user._id == user.id){ %>
				<span>Your story</span>
			<% } else { %>
				<span><%= story.user.userName%>'s story</span>
			<% } %>
			<div class="story-details center">
				<!--Date-->
				<span class="date">
				<%= story.createdAt.getDate()%>.<%= story.createdAt.getMonth()+1%>.<%= story.createdAt.getFullYear()%>
				</span>
				<!--/Date-->
				<!--Displaying the region and managing the comma-->
				<span class="region-details">
				<%= story.country%><%if(story.country && story.continent ){ %>,<%}%>
				<%= story.continent%>
				</span>
				<!-- /Displaying the region and managing the comma-->
			</div>
			<img class="img-fluid" src="<%= story.image%>" />
			<!--User reactions-->
			<div class="flex-row reaction-display">
				<!--Num of likes and readings-->
				<i class="fa-solid fa-book-open fa-lg" style="color: #857a7a;"> <span class="numbers"><%= story.readBy%></span></i>
				<i class="fa-solid fa-thumbs-up fa-lg" style="color: #857a7a;"><span class="numbers"><%= story.likes%></span> </i>
				<!-- /Num of likes and readings-->
			</div>
			<!-- /User reactions-->

			<!--story's main text-->
			<div>
				<p  class="story-text"><%= story.textContent %></p>
			</div>
			<!-- /story's main text-->

			<!-- User self-story actions-->
			<%if( user && story.user._id == user.id){ %>

				<div class="user-actions-buttons">
					<!--Edit story--> 
					<a href="/editStory/<%= story._id%>">
						<i class="fa-solid fa-pen-to-square fa-2xl" style="color: #698ece;"></i>
					</a>
					<!-- /Edit story--> 
					<!--Delete story-->         
					<button class="show-delete-story-popup fa-solid fa-trash fa-2xl" style="color: #b45050;"></button>
					<!--/Delete story-->
				</div>
			<%}%>
			<!-- /User self-story actions-->

			<!-- User other-story actions-->
			<div class="flex-row interact-buttons">
				<!--Like story-->
				<%if(user && story.user._id != user.id){ %>
					<%if(isLiked){ %>
						<form
						action="/story/unlikeStory/<%= story._id %>?_method=PUT"
						method="POST"
						>
							<button class="fa-solid fa-thumbs-up fa-2xl" style="color: #513cc5;" type="submit"></button>
						</form>
					<%}else { %>
						<form
						action="/story/likeStory/<%= story._id %>?_method=PUT"
						method="POST"
						>
							<button class="fa-regular fa-thumbs-up fa-2xl" style="color: #857a7a;" type="submit"></button>
						</form>
					<%}%>
				<%}%>
				<!-- /Like story-->
				<!--Favorite story-->
				<%if(user && story.user._id != user.id){ %>
					<%if(isFav){ %>
						<form
						action="/story/unfavoriteStory/<%= story._id %>?_method=DELETE %>"
						method="POST"
						>
							<button class="fa-solid fa-star fa-2xl" style="color: rgb(234, 155, 52);" type="submit"></button>
						</form>
					<%}else { %>
						<form
						action="/story/favoriteStory/<%= story._id %>"
						method="POST"
						>
							<button class="fa-regular fa-star fa-2xl" style="color: #857a7a;" type="submit"></button>
						</form>
					<%}%>
				
				<%}%>
				<!-- /Favorite story-->
				</div>
				<!-- /User other-story actions-->
				<!--comments section-->
				<%if(user){ %>
				<form 
					action="/comment/createCommentFromStory/<%= story._id %>"
					method="POST"
					class="write-comment-form">
					<textarea required oninput="auto_grow(this)" name="comment" placeholder="Write a comment..."></textarea>
					<button type="submit" class="send-comment-button">
						<i class="fa-solid fa-paper-plane fa-lg" ></i>
					</button>
				</form>
				<%} %>
				<ul class="comments-container">
					<% for(var i=0; i<comments.length; i++) {%>
						<li class="single-comment">
							<span><%= comments[i].user.userName%></span>
							<span class="date"><%= comments[i].createdAt.getDate()%>.<%= comments[i].createdAt.getMonth()+1%>.<%= comments[i].createdAt.getFullYear()%></span>
							<p><%= comments[i].comment%></p>

							<%if(user){%>
								<%if(comments[i].user._id == user.id){ %>
								<i class="show-comment-options  fa-solid fa-ellipsis fa-xl" style="color: #6e6e6e;"></i>
								<ul class="comment-options hidden">
									<li>Edit</li>
									<li>
										<button class="show-delete-comment-popup" >Delete</button>
									</li>
								</ul>
								<section class="popup-container comment-popup-container delete-comment-popup">
									<div class="popup">
										<p>Are you sure you want to delete the comment?</p>
										<div class="flex-row">
											<button class=" delete-comment-popup-button cancel-button">No</button>
											<form
											action="/comment/deleteComment/<%= story._id %>/<%= comments[i]._id %>?_method=DELETE"
											method="POST"
											>
												<button class="delete-comment-popup-button highlight-button" type="submit">Yes</button>
											</form>
										</div>
									</div>
								</section>
								<% } %>
								<div class="comment-reactions-interaction">
									<!--if the user liked the comment-->
									<%if(comments[i].usersWhoLiked.filter(obj=>obj._id == user.id).length>0){%>
									<form  
										action="/comment/unlikeComment/<%= story._id %>/<%= comments[i]._id %>?_method=PUT"
										method="POST"
									>
										<button class="user-liked" type="submit">Like</button>
									</form>
									<!--if the user didn't like the comment-->
									<%} else {%>
										<form  
										action="/comment/likeComment/<%= story._id %>/<%= comments[i]._id %>?_method=PUT"
										method="POST"
									>
										<button type="submit">Like</button>
									</form>
									<% } %>


									<form  action="">
										<button type="submit">Reply</button>
									</form>
								</div>
							<%}%>
							<% if(comments[i].likes){ %>
							<div class="comment-likes">
								<%if(user && comments[i].usersWhoLiked.filter(obj=>obj._id == user.id).length>0){%>
								<i class="fa-solid fa-thumbs-up fa-lg" style="color: rgb(234, 155, 52);">
									<span class="numbers">
										<%= comments[i].likes %>
									</span>
								</i>
								<%} else {%>
									<i class="fa-solid fa-thumbs-up fa-lg" style="color: #857a7a;">
										<span class="numbers">
											<%= comments[i].likes %>
										</span>
									</i>
								<%}%>
							</div>
							<% } %>
						</li>
					<% } %>
				</ul>
				<!-- /comments section-->
		</div>
	<!-- /The story-->
  </div>
</section>
<section class="popup-container" id="delete-story-popup">
	<div class="popup">
		<p>Are you sure you want to delete the story?</p>
		<div class="flex-row">
			<button class=" delete-story-popup-button cancel-button">No</button>
			<form
			action="/story/deleteStory/<%= story._id %>?_method=DELETE"
			method="POST"
			>
				<button class="delete-story-popup-button highlight-button" type="sub
				">Yes</button>
			</form>
			
		</div>
	</div>
</section>



<%- include('partials/footer') -%>
